* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(https://zeptar1069.github.io/assets/images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header img {
    width: 65px;
    border-radius: 75%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 100px;
    text-align: left;
    padding-left: 120px;
}

.text-box p {
    font-size: 20px;
    word-spacing: 7px;
    text-align: left;
    padding-left: 120px;
}

.container-views {
  position: absolute;
  right: 0px;
  bottom: -50px;
  width: 145px;
  height: 145px;
  background-color: black;
  border-top-left-radius: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container-views h3 {
  color: white;
  position: absolute;
  right: 15px;
  bottom: 90px;
}

.container-views p {
  color: white;
  position: absolute;
  right: 60px;
  bottom: 65px;
}
